/*
* These are the Default settings for every page -=-=-=-=-=-=-=-=-
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.title {
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(0deg, #eaeaea, #0084ff);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header {
  width: auto;
  min-width: 870px;
  height: 60px;
  display: block;
  font-size: 100%;
  background-color: #3c4048;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.inner-header {
  text-align: center;
  height: 100%;
  width: fit-content;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}
.nav-container {
  min-width: 870px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 2px solid #7b7a8c;
  border-collapse: collapse;
  background-color: #3c4048;
}
.nav {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 105%;
  color: white;
}
.nav:active {
  color: #b0b1b6 !important;
}
.nav:hover {
  color: #cbced2;
  transition-duration: 0.2s;
}

.validators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
footer {
  bottom: 0;
  margin-top: auto;
  width: 100vw;
  font-size: 12px;
  color: #484b51;
  text-align: center;
}
footer a {
  text-decoration: underline;
  color: #757a83;
}
footer a:hover {
  color: #4b5056;
  transition-duration: 0.2s;
}

.tab {
  margin-left: 40px;
}

.main {
  width: 800px;
  height: auto;
  margin: 0 auto;
  min-height: 100%;
}

.container {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  max-width: 100vw;
  padding: 40px;
  margin: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*
* css for the main index page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.center {
  width: 850px;
  text-align: center;
  margin: 0 auto;
  color: #2d080a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.fishpicture {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.caption {
  text-align: center;
  font-style: italic;
}
.bullets {
  list-style: circle;
  padding-left: 5px;
  padding-top: 10px;
}
.bullets li {
  list-style: square;
}
.links {
  margin-top: 10px;
  margin-left: 0px;

  text-align: center;
  width: 100%;
  padding: 10px;

  color: rgb(0, 0, 0);
}
/*
* css for the tables page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.table1 {
  background-color: rgb(220, 220, 220);
  width: 800px;
  text-align: left;
  width: fit-content;
}

.table2 {
  background-color: rgb(220, 220, 220);
  width: 800px;
  text-align: left;
  width: fit-content;

}

.table,
.table2,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

.topTable {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.smallTB {
  width: 30px;
}
/*
* css for the forms page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.submitButton {
  margin: 0 auto;
  align-items: center;

  padding: 15px;
  color: rgb(255, 255, 255);
  background: black;
}

.resetButton {
  padding: 15px;
  color: rgb(255, 255, 255);
  background: black;
}
.formcontainer {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  width: fit-content;
  min-width: 500px;
}

.form {
  border-collapse: collapse;
  margin: 0 auto;
  align-items: center;
  background-clip: border-box;
  background-color: white;
  padding: 25px 25px;
  width: 400px;
}

.formTitle {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  height: 50px;
}

/*
* css for the crappy page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

.badtitle {
  width: 400px;
  padding: 30px;
  margin: 0 -220px auto;
  font-family: comic sans;
  background-color: rgb(255, 115, 0);
  color: #ff03c0;
}

.badpicture {
  border: 10px solid black;
  padding: 8px;
  width: 600px;
  height: 300px;
  border: solid;
  border: #ff03c0;
  aspect-ratio: 4 / 1;
}

.imagecaption {
  font-family: papyrus;
}
.bad {
  background-color: #373a40;
  margin-top: 90px;
  margin-left: 500px;
  font-family: "Times New Roman";
}
.comicsans {
  font-family: "Comic Neue", cursive;
  background-color: white;
  padding: 20px 430px;
}

.defaultlink {
  text-decoration: underline;
}

.badbullets {
  margin: 200px;
  text-align: center;
}

.badbullets li {
  list-style: square;
}
.badcenter {
  font-size: xx-large;
  width: 850px;
  text-align: center;
  margin: 0 auto;
  color: #2d080a;
  font-family: "Comic Neue", cursive;
  text-decoration: underline;
}

/*
* css for the web evaluation page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/

.web-evaluations {
  margin: 0 auto;
  padding: 20px;
  margin: 0 auto;  
  width: fit-content;
}
.evaluation-name {
  padding: 15px 0px 15px 0px;
  text-decoration: underline;
}
.evaluation {
  margin-left: 20px;
  max-width: 800px;
}
.evaluation-bullets {
  margin-left: 45px;
  padding: 15px 0px 15px 0px;
}
.evaluation-bullets li {
  padding-top: 15px;
  list-style: square;
  max-width: 1200px;
}
