/*
* These are the Default settings for every page -=-=-=-=-=-=-=-=-
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(0deg, #eaeaea, #2f7098);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.header {
  width: auto;
  min-width: 870px;
  height: 60px;
  display: block;
  font-size: 100%;
  background-color: #3c4048;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.inner-header {
  text-align: center;
  height: 100%;
  width: fit-content;
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}
.nav-container {
  min-width: 870px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 2px solid #7b7a8c;
  border-collapse: collapse;
  background-color: #3c4048;
}
.nav {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 105%;
  color: white;
}
.nav:active {
  color: #b0b1b6 !important;
}
.nav,
.links:hover {
  color: #d0d2d5;
  transition-duration: 0.2s;
}
footer {
  bottom: 0;
  margin-top: auto;
  width: 100vw;
  font-size: 12px;
  color: #484b51;
  text-align: center;
}
.tab {
  margin-left: 40px;
}

/*
* css for the main index page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.center {
  text-align: center;
  color: #2d080a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.container {
  width: 850px;
  height: auto;
  margin: 0 auto;
  min-height: 100%;
}
.fishpicture {
  display: block;
  margin: 0 auto;
  width: 50%;
}
.caption {
  text-align: center;
  font-style: italic;
}
.bullets {
  list-style: circle;
  padding-left: 5px;
  padding-top: 10px;
}
.bullets li {
  list-style: square;
}
.links {
  margin-top: 30px;
  margin-left: 0px;

  text-align: center;
  width: 100%;
  padding: 10px;

  color: rgb(0, 0, 0);
}
/*
* css for the tables page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.table1 {
  background-color: rgb(220, 220, 220);
  width: 800px;
  text-align: left;
}

.table2 {
  background-color: rgb(220, 220, 220);
  width: 800px;
  text-align: left;
}

.table,
.table2,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

.topTable {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.smallTB {
  width: 30px;
}
/*
* css for the forms page -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
*/
.submitButton {
  padding: 20px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, orange, rgb(213, 1, 114));
}

.resetButton {
  padding: 20px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, orange, rgb(213, 1, 114));
}

.form {
  border-collapse: collapse;
  display: flex;
  align-items: center;
  background-clip: border-box;
  background-color: white;
  padding: 25px 25px;
  border-radius: 10px;
  width: 400px;
}

.formTitle {
  height: 10px;
}
